<div class="checkbox-tree-wrapp">
	<ul class="checkbox-tree   ">
		<li class="checkbox-tree-inner">
			<label class="label-check">
				<input type="checkbox" class="label-check-input">
				<span class="label-check-span">
					Родитель 1
				</span>
			</label>
			<ul class="checkbox-tree">
				<li class="checkbox-tree-inner">
					<label class="label-check">
						<input type="checkbox" class="label-check-input">
						<span class="label-check-span">
							Дочерний 1
						</span>
					</label>
					<ul class="checkbox-tree">
						<li class="checkbox-tree-inner">
							<label class="label-check">
								<input type="checkbox" class="label-check-input">
								<span class="label-check-span">
									Дочерний 1
								</span>
							</label>

						</li>
						<li class="checkbox-tree-inner">
							<label class="label-check">
								<input type="checkbox" class="label-check-input">
								<span class="label-check-span">
									Дочерний 2
								</span>
							</label>
						</li>
						<li class="checkbox-tree-inner">
							<label class="label-check">
								<input type="checkbox" class="label-check-input">
								<span class="label-check-span">
									Дочерний 2
								</span>
							</label>
						</li>
						<li class="checkbox-tree-inner">
							<label class="label-check">
								<input type="checkbox" class="label-check-input">
								<span class="label-check-span">
									Дочерний 2
								</span>
							</label>
						</li>
						<li class="checkbox-tree-inner">
							<label class="label-check">
								<input type="checkbox" class="label-check-input">
								<span class="label-check-span">
									Дочерний 2
								</span>
							</label>
						</li>
					</ul>
				</li>
				<li class="checkbox-tree-inner">
					<label class="label-check">
						<input type="checkbox" class="label-check-input">
						<span class="label-check-span">
							Дочерний 2
						</span>
					</label>
					<ul class="checkbox-tree">
						<li class="checkbox-tree-inner">
							<label class="label-check">
								<input type="checkbox" class="label-check-input">
								<span class="label-check-span">
									Дочерний 1
								</span>
							</label>

						</li>
						<li class="checkbox-tree-inner">
							<label class="label-check">
								<input type="checkbox" class="label-check-input">
								<span class="label-check-span">
									Дочерний 2
								</span>
							</label>
						</li>
						<li class="checkbox-tree-inner">
							<label class="label-check">
								<input type="checkbox" class="label-check-input">
								<span class="label-check-span">
									Дочерний 2
								</span>
							</label>
						</li>
						<li class="checkbox-tree-inner">
							<label class="label-check">
								<input type="checkbox" class="label-check-input">
								<span class="label-check-span">
									Дочерний 2
								</span>
							</label>
						</li>
						<li class="checkbox-tree-inner">
							<label class="label-check">
								<input type="checkbox" class="label-check-input">
								<span class="label-check-span">
									Дочерний 2
								</span>
							</label>
						</li>
					</ul>
				</li>

			</ul>
		</li>

	</ul>
</div>


<div class="creating__checkbox-tree-wrapp checkbox-tree-wrapp">
	<ul class="checkbox-tree   ">
		<li class="checkbox-tree-inner accordion">
			<div class=" creating__checkbox-tree-head">
				<label class="label-check">
					<input type="checkbox" class="checkbox-tree-input label-check-input">
					<span class="checkbox-tree-check-span label-check-span">
					</span>
				</label>
				<button class="creating__checkbox-tree-btn accordion-btn">
					<span>
						Название группы
					</span>
					<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M15.8337 7.08398L10.0003 12.9173L4.16699 7.08398" stroke="#181830" stroke-width="1.5"
							stroke-linecap="round" stroke-linejoin="round" />
					</svg>

				</button>
			</div>
			<ul class="checkbox-tree accordion-wrapp">
				<li class="checkbox-tree-inner">
					<label class="label-check">
						<input type="checkbox" class="label-check-input">
						<span class="label-check-span">
							Петрозаводский Петрозаводск Петрозаводскович
						</span>
					</label>

				</li>
				<li class="checkbox-tree-inner">
					<label class="label-check">
						<input type="checkbox" class="label-check-input">
						<span class="label-check-span">
							Петрозаводский Петрозаводск Петрозаводскович
						</span>
					</label>
				</li>
				<li class="checkbox-tree-inner">
					<label class="label-check">
						<input type="checkbox" class="label-check-input">
						<span class="label-check-span">
							Петрозаводский Петрозаводск Петрозаводскович
						</span>
					</label>

				</li>
				<li class="checkbox-tree-inner">
					<label class="label-check">
						<input type="checkbox" class="label-check-input">
						<span class="label-check-span">
							Петрозаводский Петрозаводск Петрозаводскович
						</span>
					</label>
				</li>
				<li class="checkbox-tree-inner">
					<label class="label-check">
						<input type="checkbox" class="label-check-input">
						<span class="label-check-span">
							Петрозаводский Петрозаводск Петрозаводскович
						</span>
					</label>
				</li>
			</ul>
		</li>

	</ul>
</div>