.checkbox-tree {
	.checkbox-tree {
		padding-left: 20px;

		@media($laptop) {
			padding-left: 15px;
		}

	}
}

.checkbox-tree-input {
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	overflow: hidden;
	opacity: 0;
	z-index: -11;
}

.checkbox-tree-check-span.label-check-span {
	padding: 0;
	width: 24px;
	height: 24px;
	flex-shrink: 0;


	@media($laptop) {
		width: 20px;
		height: 20px;
	}

	&::after,
	&::before {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		width: 24px;
		height: 24px;
		flex-shrink: 0;


		@media($laptop) {
			width: 20px;
			height: 20px;
		}
	}
}