.breadcrumb {
	display: flex;
	align-items: center;
	justify-content: flex-start;

	flex-wrap: wrap;
	gap: rem(9) 0;
	padding-top: rem(10);
	padding-bottom: rem(10);

	@include minw1920 {
		gap: max-size(9) 0;
		padding-top: max-size(10);
		padding-bottom: max-size(10);
	}

	li {
		font-family: 'ProximaNova';
		font-style: normal;
		font-weight: 600;
		font-size: size1920(18, 14);
		line-height: 100%;
		color: var(--gray-medium);

		@include minw1920 {
			font-size: max-size(18);
		}

		&::after {
			content: "/";
			padding-left: rem(10);
			padding-right: rem(10);
			font-family: 'ProximaNova';
			font-style: normal;
			font-weight: 600;
			font-size: size1920(18, 14);
			line-height: 100%;
			color: var(--light-gray);

			@include minw1920 {
				font-size: max-size(18);
				padding-left: max-size(10);
				padding-right: max-size(10);
			}
		}

		&:nth-last-child(1) {
			&::after {
				content: "";
				padding: 0;
			}
		}

		a {
			font-family: inherit;
			font-style: inherit;
			font-weight: inherit;
			font-size: inherit;
			line-height: inherit;
			color: var(--orange-medium);
			@include interactive-states(color, var(--orange-dark), var(--orange-dark), var(--orange-dark));

		}
	}
}