.checkbox {
	display: inline-block;
	position: relative;

	input {
		position: absolute;
		left: 0;
		top: 0;
		z-index: -333;
		width: 0;
		height: 0;
		overflow: hidden;
		opacity: 0;
	}
}

.checkbox-span {
	display: inline-block;
	position: relative;
	isolation: isolate;
	padding-left: rem(30);
	cursor: pointer;


	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: rem(14);
	line-height: 110%;

	color: var(--color-black);



	&::after {
		content: "";
		position: absolute;
		left: 0;
		top: 50%;
		width: rem(15);
		height: rem(15);
		border-radius: rem(2);
		border: 1px solid var(--color-accent);
		transform: translateY(-50%);
	}

	&::before {
		content: "";
		position: absolute;
		left: rem(2);
		top: 50%;
		width: rem(11);
		height: rem(11);
		border-radius: rem(1);
		background: var(--color-primary);
		transform: translateY(-50%);
		opacity: 0;
	}

	a {
		display: inline;
		font-family: inherit;
		font-style: inherit;
		font-weight: inherit;
		font-size: inherit;
		line-height: inherit;

	}
}

.checkbox-input:checked~.checkbox-span::before {
	opacity: 1;
}