.modal-background {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: var(--color-white);
	overflow: auto;
	padding: 0 rem(10) rem(40) rem(10);
	display: flex;
	flex-direction: column;
	z-index: var(--z-index-4);
	opacity: 0;
	transform: translateY(-110%);
	transition: .4s;
}

.modal-background.--active {
	opacity: 1;
	transform: translateY(0);
	transition: .4s;

}

.modal__container {}

.modal {
	&-btn {
		stroke: var(--color-white);
		@include interactive-states(stroke, var(--color-dark), var(--color-accent), var(--color-accent));
	}

	&__header {
		padding: rem(10);
		background: var(--color-primary);
		box-shadow: var(--shadow);

		width: calc(100% + rem(20));
		margin-left: rem(-10);
		margin-right: rem(-10);

		&-title {
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 700;
			font-size: var(16);
			line-height: 110%;
			color: var(--color-white);


		}
	}

	&__footer {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: rem(16);
		margin-top: auto;
		margin-bottom: 0;
		font-weight: 700;
		font-size: rem(16);
	}
}

.modal-district {
	&-list {
		margin-top: rem(25);
		margin-bottom: rem(42);
		display: flex;
		flex-direction: column;
		gap: rem(16);
		overflow: auto;
		min-height: rem(270);
		height: calc(100vh - rem(195));
	}
}