<!-- для вызова модального окна необходиом передать атрибут  data-open-modal в котором необходимо  указать id модального окна -->

<div id="modal-city" class="modal-background  rezet-wrapp">
	<div class="modal__header flex ai-c jc-sb">
		<h3 class="modal__header-title">
			Город
		</h3>
		<button type="button" class="modal-btn btn__modal--close">
			<svg width="16" height="16" viewBox="0 0 16 16">
				<use xlink:href="assets/img/sprite.svg#close"></use>
			</svg>
		</button>
	</div>
	<ul class="modal-district-list">
		<li class="modal-district-inner">
			<label class="checkbox">
				<input type="checkbox" class="checkbox-input" name="modal-city" value="Архангельск">
				<span class="checkbox-span">
					Архангельск
				</span>
			</label>
		</li>
		<li class="modal-district-inner">
			<label class="checkbox">
				<input type="checkbox" class="checkbox-input" name="modal-city" value="Белгород">
				<span class="checkbox-span">
					Белгород
				</span>
			</label>
		</li>
		<li class="modal-district-inner">
			<label class="checkbox">
				<input type="checkbox" class="checkbox-input" name="modal-city" value="Брянск">
				<span class="checkbox-span">
					Брянск
				</span>
			</label>
		</li>
		<li class="modal-district-inner">
			<label class="checkbox">
				<input type="checkbox" class="checkbox-input" name="modal-city" value="Великий Новгород">
				<span class="checkbox-span">
					Великий Новгород
				</span>
			</label>
		</li>
		<li class="modal-district-inner">
			<label class="checkbox">
				<input type="checkbox" class="checkbox-input" name="modal-city" value="Владимир">
				<span class="checkbox-span">
					Владимир
				</span>
			</label>
		</li>
		<li class="modal-district-inner">
			<label class="checkbox">
				<input type="checkbox" class="checkbox-input" name="modal-city" value="Вологда">
				<span class="checkbox-span">
					Вологда
				</span>
			</label>
		</li>
		<li class="modal-district-inner">
			<label class="checkbox">
				<input type="checkbox" class="checkbox-input" name="modal-city" value="Воронеж">
				<span class="checkbox-span">
					Воронеж
				</span>
			</label>
		</li>
		<li class="modal-district-inner">
			<label class="checkbox">
				<input type="checkbox" class="checkbox-input" name="modal-city" value="Екатеринбург">
				<span class="checkbox-span">
					Екатеринбург
				</span>
			</label>
		</li>
		<li class="modal-district-inner">
			<label class="checkbox">
				<input type="checkbox" class="checkbox-input" name="modal-city" value="Ижевск">
				<span class="checkbox-span">
					Ижевск
				</span>
			</label>
		</li>
		<li class="modal-district-inner">
			<label class="checkbox">
				<input type="checkbox" class="checkbox-input" name="modal-city" value="Иркутск">
				<span class="checkbox-span">
					Иркутск
				</span>
			</label>
		</li>
		<li class="modal-district-inner">
			<label class="checkbox">
				<input type="checkbox" class="checkbox-input" name="modal-city" value="Казань">
				<span class="checkbox-span">
					Казань
				</span>
			</label>
		</li>
		<li class="modal-district-inner">
			<label class="checkbox">
				<input type="checkbox" class="checkbox-input" name="modal-city" value="Архангельск">
				<span class="checkbox-span">
					Архангельск
				</span>
			</label>
		</li>
		<li class="modal-district-inner">
			<label class="checkbox">
				<input type="checkbox" class="checkbox-input" name="modal-city" value="Белгород">
				<span class="checkbox-span">
					Белгород
				</span>
			</label>
		</li>
		<li class="modal-district-inner">
			<label class="checkbox">
				<input type="checkbox" class="checkbox-input" name="modal-city" value="Брянск">
				<span class="checkbox-span">
					Брянск
				</span>
			</label>
		</li>
		<li class="modal-district-inner">
			<label class="checkbox">
				<input type="checkbox" class="checkbox-input" name="modal-city" value="Великий Новгород">
				<span class="checkbox-span">
					Великий Новгород
				</span>
			</label>
		</li>
		<li class="modal-district-inner">
			<label class="checkbox">
				<input type="checkbox" class="checkbox-input" name="modal-city" value="Владимир">
				<span class="checkbox-span">
					Владимир
				</span>
			</label>
		</li>
		<li class="modal-district-inner">
			<label class="checkbox">
				<input type="checkbox" class="checkbox-input" name="modal-city" value="Вологда">
				<span class="checkbox-span">
					Вологда
				</span>
			</label>
		</li>
		<li class="modal-district-inner">
			<label class="checkbox">
				<input type="checkbox" class="checkbox-input" name="modal-city" value="Воронеж">
				<span class="checkbox-span">
					Воронеж
				</span>
			</label>
		</li>
		<li class="modal-district-inner">
			<label class="checkbox">
				<input type="checkbox" class="checkbox-input" name="modal-city" value="Екатеринбург">
				<span class="checkbox-span">
					Екатеринбург
				</span>
			</label>
		</li>
		<li class="modal-district-inner">
			<label class="checkbox">
				<input type="checkbox" class="checkbox-input" name="modal-city" value="Ижевск">
				<span class="checkbox-span">
					Ижевск
				</span>
			</label>
		</li>
		<li class="modal-district-inner">
			<label class="checkbox">
				<input type="checkbox" class="checkbox-input" name="modal-city" value="Иркутск">
				<span class="checkbox-span">
					Иркутск
				</span>
			</label>
		</li>
		<li class="modal-district-inner">
			<label class="checkbox">
				<input type="checkbox" class="checkbox-input" name="modal-city" value="Казань">
				<span class="checkbox-span">
					Казань
				</span>
			</label>
		</li>
	</ul>
	<div class="modal__footer">
		<button type="button" class="modal__footer-btn btn-br  rezet-btn">
			Сбросить
		</button>
		<button class="modal__footer-btn btn btn__modal--close">
			Применить
		</button>
	</div>
</div>