<!-- для вызова модального окна необходиом передать атрибут  data-open-modal в котором необходимо  указать id модального окна -->

<div id="modal-district" class="modal-background  rezet-wrapp">
	<div class="modal__container ">
		<div class="modal__header flex ai-c jc-sb">
			<h3 class="modal__header-title">
				Федеральный округ
			</h3>
			<button type="button" class="modal-btn btn__modal--close">
				<svg width="16" height="16" viewBox="0 0 16 16">
					<use xlink:href="assets/img/sprite.svg#close"></use>
				</svg>
			</button>
		</div>
		<ul class="modal-district-list">
			<li class="modal-district-inner">
				<label class="checkbox">
					<input type="checkbox" class="checkbox-input" name="district" value="Центральный">
					<span class="checkbox-span">
						Центральный
					</span>
				</label>
			</li>
			<li class="modal-district-inner">
				<label class="checkbox">
					<input type="checkbox" class="checkbox-input" name="district" value="Северо-Западный">
					<span class="checkbox-span">
						Северо-Западный
					</span>
				</label>
			</li>
			<li class="modal-district-inner">
				<label class="checkbox">
					<input type="checkbox" class="checkbox-input" name="district" value="Южный">
					<span class="checkbox-span">
						Южный
					</span>
				</label>
			</li>
			<li class="modal-district-inner">
				<label class="checkbox">
					<input type="checkbox" class="checkbox-input" name="district" value="Северо-Кавказский">
					<span class="checkbox-span">
						Северо-Кавказский
					</span>
				</label>
			</li>
			<li class="modal-district-inner">
				<label class="checkbox">
					<input type="checkbox" class="checkbox-input" name="district" value="Приволжский">
					<span class="checkbox-span">
						Приволжский
					</span>
				</label>
			</li>
			<li class="modal-district-inner">
				<label class="checkbox">
					<input type="checkbox" class="checkbox-input" name="district" value="Уральский">
					<span class="checkbox-span">
						Уральский
					</span>
				</label>
			</li>
			<li class="modal-district-inner">
				<label class="checkbox">
					<input type="checkbox" class="checkbox-input" name="district" value="Сибирский">
					<span class="checkbox-span">
						Сибирский
					</span>
				</label>
			</li>
			<li class="modal-district-inner">
				<label class="checkbox">
					<input type="checkbox" class="checkbox-input" name="district" value="Дальневосточный">
					<span class="checkbox-span">
						Дальневосточный
					</span>
				</label>
			</li>
		</ul>
		<div class="modal__footer">
			<button type="button" class="modal__footer-btn btn-br  rezet-btn">
				Сбросить
			</button>
			<button class="modal__footer-btn btn btn__modal--close">
				Применить
			</button>
		</div>

	</div>
</div>