.tippy-box[data-theme~='tooltips'] {
	background-color: #FFFFFF;
	color: #545454;
	border-radius: 4px;
	box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.12);
	padding: 8px 10px;

	font-variant-numeric: lining-nums proportional-nums;

	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;

	.tippy-content {
		padding: 0;
	}
}

.tippy-box[data-theme~='tooltips'] {
	&::before {
		content: '';
		position: absolute;
		bottom: 100%;
		left: 50%;
		transform: translateX(-50%);
		width: 0;
		height: 0;
		border-left: 12px solid transparent;
		border-right: 12px solid transparent;
		border-bottom: 12px solid #FFFFFF;

	}

}