<button class="btn">
	btn
</button>
<button class="btn-br">
	btn
</button>

<button type="button" class="btn-swiper">
	<img src="assets/img/icons/Arrow-left.svg" alt="Стрелка в лево">
</button>
<button type="button" class="btn-swiper">
	<img src="assets/img/icons/Arrow-right.svg" alt="Стрелка в право">
</button>

<button type="button" class="button-arrow">
	<img src="assets/img/icons/arrow-bottom.svg" alt="Стрелка">
</button>

<button class="btn-arrow">
	<svg width="22" height="15" viewBox="0 0 22 15">
		<use xlink:href="assets/img/sprite.svg#arrow-left"></use>
	</svg>
</button>
<button class="btn-arrow">
	<svg width="22" height="15" viewBox="0 0 22 15">
		<use xlink:href="assets/img/sprite.svg#arrow-right"></use>
	</svg>
</button>
