<header class="header">
	<div class="container header__container">
		<a href="#" class="header__logo">
			<p class="header__logo-text">
				Образовательные <br> мероприятия для врачей
			</p>
			<img src="./assets/img/logo.svg" alt="Лого">
		</a>
		<div class="header__wrapp">

			<div class="header__wrapp-top flex ai-c jc-sb">
				<ul data-adapt-block=".header__nav, 992.99, last" class="header__message-list flex ai-c jc-fs">
					<li class="header__message-inner">
						<a href="#" target="_blank" class="header__message-social">
							<img src="../assets/img/icons/vk.svg" alt="vk">
						</a>
					</li>
					<li class="header__message-inner">
						<a href="mailto:" class="header__message-link flex ai-c jc-fs">
							<svg width="22" height="15" viewBox="0 0 22 15">
								<use xlink:href="assets/img/sprite.svg#mail"></use>
							</svg>
							<span>info@medacademia.ru</span>
						</a>
					</li>
				</ul>
				<div class="header__wrapp-container flex ai-c jc-fe">
					<a href="#" target="_blank" class="header__mob-message">
						<svg width="22" height="15" viewBox="0 0 22 15">
							<use xlink:href="assets/img/sprite.svg#mail"></use>
						</svg>
					</a>
					<form data-adapt-block=".header__nav, 992.99, 1" class="header__search search">
						<input type="text" class="header__search-input search-input" placeholder="Поиск...">
						<button class="header__search-btn search__btn">
							<img src="assets/img/icons/search.svg" alt="">
						</button>
					</form>
					<a href="#" class="header__btn btn">
						<svg width="18" height="18" viewBox="0 0 18 18">
							<use xlink:href="assets/img/sprite.svg#user"></use>
						</svg>
						<span>
							Личный кабинет
						</span>
					</a>
					<button type="button" class="header__open-menu">
						<svg width="20" height="17" viewBox="0 0 20 17">
							<use xlink:href="assets/img/sprite.svg#open"></use>
						</svg>
					</button>
				</div>
			</div>
			<nav class="header__nav">
				<div class="header__nav-header">
					<a href="#" class="header__nav-logo">
						<img src="./assets/img/logo.svg" alt="Лого">
					</a>
					<button class="header__nav-btn">
						<svg width="16" height="16" viewBox="0 0 16 16">
							<use xlink:href="assets/img/sprite.svg#close"></use>
						</svg>
					</button>
				</div>
				<ul class="header__nav-list flex ai-c jc-sb">
					<li class="header__nav-inner">
						<a href="#">
							Мероприятия
						</a>
					</li>
					<li class="header__nav-inner">
						<a href="#">
							Архив мероприятий
						</a>
					</li>
					<li class="header__nav-inner">
						<a href="#">
							Слушателям
						</a>
					</li>
					<li class="header__nav-inner">
						<a href="#">
							Спонсорам
						</a>
					</li>
					<li class="header__nav-inner">
						<a href="#" class="-is-active">
							Отзывы
						</a>
					</li>
					<li class="header__nav-inner">
						<a href="#">
							О нас
						</a>
					</li>
					<li class="header__nav-inner">
						<a href="#">
							Контакты
						</a>
					</li>
				</ul>
			</nav>

		</div>
	</div>
</header>