.bold {
	font-weight: 700 !important;
}

.semibold {
	font-weight: 600 !important;
}

.medium {
	font-weight: 500 !important;
}

.regular {
	font-weight: 400 !important;
}

.light {
	font-weight: 300 !important;
}

.italic {
	font-style: italic !important;
}

h1,
.h1 {
	font-weight: 700;
	font-size: rem(24);
	line-height: 110%;
}

h2,
.h2 {
	font-weight: 700;
	font-size: rem(22);
	line-height: 110%;
}

h3,
.h3 {
	font-weight: 700;
	font-size: rem(20);
	line-height: 110%;
}

h4,
.h4 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: rem(16);
	line-height: 110%;
}

p,
.text {
	font-weight: 400;
	font-size: rem(14);
	line-height: 110%;
}