@import "./fonts.scss";
@import "./layout.scss";

html {


	overflow-x: hidden;
	overflow-y: scroll;
	scrollbar-gutter: stable;

	&._fixed {
		overflow: hidden;
	}
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-family: var(--font-primary);

	&::-webkit-scrollbar-thumb {
		@include scrollStyle(var(--color-primary));
	}

	&::-webkit-scrollbar {
		@include scrollStyle(var(--color-gray-light));
	}
}

* {
	&::-webkit-scrollbar-thumb {
		@include scrollStyle(var(--color-primary));
	}

	&::-webkit-scrollbar {
		@include scrollStyle(var(--color-gray-light));
	}
}


@-moz-document url-prefix() {
	* {
		scrollbar-width: thin;
		scrollbar-color: var(--blue) var(--blue-05);

		&::-webkit-scrollbar-thumb {
			@include scrollStyle(var(--blue));
		}

		&::-webkit-scrollbar {
			@include scrollStyle(var(--blue-05));
		}

		&::-moz-scrollbar {
			width: rem(6);

			@include minw1920 {
				width: max(6rem, 6px);
			}
		}

		.scrollable-content::-moz-scrollbar-thumb {
			@include scrollStyle(var(--blue));
		}
	}
}

a {
	text-decoration: none;
	transition: $hover-trans;
}

ul {
	list-style: none;
}

button {
	border: none;
	outline: none;
	cursor: pointer;
	background: none;
	padding: 0;
	transition: $hover-trans;
}

/* убираем тени safari */
input:not([type="checkbox"]):not([type="radio"]),
textarea,
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

time {
	display: block;
}

picture {
	display: contents;
}

.page {
	display: flex;
	min-height: 100dvh;
	flex-direction: column;

	overflow: hidden;
}

.page-padding-top {
	padding-top: rem(110);

	@include mw992 {
		padding-top: rem(82);
	}
}

.container {

	margin-inline: auto;
	width: 100%;
	max-width: rem(1240);
	padding-left: rem(10);
	padding-right: rem(10);
}

.--is-fixed {
	@include mw992 {
		overflow: hidden;
	}
}

.section {
	&-title {
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		color: var(--color-primary);
	}
}
