<div class="file">
	<div class="file__coll">
		<label class="label  file-label">
			<input type="file" class="file-input label-input" multiple>
			<span class="file-btn btn">Прикрепить файл</span>
		</label>
		<p class="file-text">
			Формат MPEG4 размер не более 250 MB
		</p>
	</div>
	<div class="files__list"></div>
</div>


<!-- file drop-->

<div class="file ">
	<div class="file-drop">
		<img src="../assets/img/icon/drop.svg" alt="Переместите файл в выделенную область">
		<p class="file-drop-text">
			Переместите файл в выделенную область
		</p>
	</div>
	<div class="file-row">
		<label class="label  file-label">
			<input type="file" class="file-input label-input" multiple>
			<span class="file-btn btn">Выбрать файл</span>
		</label>
		<div class="files__list"></div>
	</div>
</div>

<!--file img-->
<div class="file">
	<div class="files__list"></div>
	<div class="file__coll">
		<label class="label  file-label">
			<input type="file" class="file-input file-input-img label-input">
			<span class="file-btn btn">Прикрепить файл</span>
		</label>
		<p class="file-text">
			Формат MPEG4 размер не более 250 MB
		</p>
	</div>

</div>