<footer class="footer">
	<button type="button" class="button-scroll button-arrow">
		<img src="assets/img/icons/Arrow-top.svg" alt="Стрелка">
	</button>
	<div class="container footer__container flex ai-c jc-sb">
		<div class="footer__wrapp ">
			<div class="footer__title">
				© 2025 Образовательные мероприятия для врачей Medivector
			</div>
			<a href="#" target="_blank" class="footer__link link">
				Политика обработки персональных данных
			</a>
		</div>
		<a href="#" target="_blank" class="footer__message ">
			<svg width="22" height="13" viewBox="0 0 22 13">
				<use xlink:href="assets/img/sprite.svg#vk"></use>
			</svg>
		</a>
	</div>
</footer>