.select {
	width: 100%;
	position: relative;
	cursor: pointer;
}

.select.is-active {
	.select-arrow {
		transform: rotate(180deg);
	}
}

.select.is-active .select__body {
	display: flex;

}

.select__header {
	width: 100%;
	height: rem(35);
	padding: rem(7) rem(12);
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: rem(1) solid var(--color-border);


	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: rem(14);
	line-height: rem(17);
	color: var(--color-border);

	.select-arrow {
		flex-shrink: 0;
		object-fit: contain;
		width: rem(16);
		height: rem(10);
		stroke: var(--color-border);
		fill: none;
	}
}

.select__body {
	padding: rem(11);
	width: 100%;
	min-width: rem(214);
	position: absolute;
	left: 0;
	top: calc(100% + rem(9));
	display: none;
	z-index: 10;
	box-shadow: var(--shadow-dark-3);
	background: var(--color-white);
	border: rem(1) solid var(--color-border);
	flex-direction: column;
	gap: rem(2);
	align-items: flex-start;

}

.select__item {
	cursor: pointer;
	min-width: rem(235);
	min-height: rem(20);
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: rem(14);
	line-height: rem(17);
	text-align: left;
	color: #000000;
	padding: rem(1.5) rem(5);
	@include interactive-states(background, var(--color-accent), var(--color-accent), var(--color-accent));
}

.select__current {
	color: var(--color-border);
	word-break: break-all;
	@include hideText(1);
}

.select__current.selected {
	color: var(--color-black);
}



.select__body-wrapp {
	overflow: auto;
	max-height: rem(135);
}